<form action="<%= newspapers_url %>" method="post">
  <label for="title">Title:</label>
  <input type="text"
    name="newspaper[title]"
    value="<%= @newspaper.title if @newspaper %>"
    id="title">

  <label for="editor">Editor:</label>
  <input type="text"
    name="newspaper[editor]"
    value="<%= @newspaper.editor if @newspaper %>"
    id="editor">

  <h3>Subscription Plans:</h3>

  <% 2.times do |i| %>

    <label for="daily">Daily</label>
    <input type="radio"
           name="newspaper[subscription_plans_attributes][<%= i %>][daily]"
           value="true"
           id="daily">

    <label for="weekly">Weekly</label>
    <input type="radio"
           name="newspaper[subscription_plans_attributes][<%= i %>][daily]"
           value="false"
           id="weekly">
     <label for="price">Price:</label>
     <input type="number"
       step=".01"
       min="0"
       name="newspaper[subscription_plans_attributes][<%= i %>][price]"
       id="price">
       <br>

  <% end %>

  <input type="submit" value="Submit Newspaper">

</form>